@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
.text h1 {
	padding-top: 50px;
	text-align: center;
	font-family: Lobster;
	color: #bd3c48;
}
.text h6{
	padding-top: 20px;
	text-align: center;

}
#menu{
	padding-top: 70px;
}
#menu ul{
	list-style-type: none;
	text-align: center;
}
#menu li {
 
  display: inline-block;
  width: 400px;
  height: 70px;
  line-height: 30px;
  margin-left: -5px;
}
#menu a{
	font-family: Lobster;
	font-size: 20px;
}
#menu p{
	font-size: 10px;
	opacity: 80%;
}
.ket{
	margin-top: 100px;
	text-align: center;
}
.ket h3{
	font-family: Lobster;
}